<ion-view title="Aplicaciones Nativas" hide-back-button="true" id="page5">
  <ion-content padding="true" style="background: url(img/Q5PGOv8QUi3z83EF8qhg_programacao-em-c.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="aplicacionesNativas-heading4" style="color:#FFFFFF;text-align:center;">Aplicaciones Nativas</h1>
    <div id="aplicacionesNativas-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:26px;">Las
        <strong>Aplicaciones Nativas </strong> son las que estan desarrolladas en los lenguajes de programación orientados a un dispositivo en específico.</p>
    </div>
    <ion-list id="aplicacionesNativas-list6">
      <ion-item class="item-avatar" id="aplicacionesNativas-list-item25" href-inappbrowser="https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html">
        <img src="img/QucpxhqBQsGwHPbTNpxa_Objective-C.png">
        <h2>Objective-C</h2>
        <p>Para desarrollo de apps en iOS</p>
      </ion-item>
      <ion-item class="item-avatar" id="aplicacionesNativas-list-item26" href-inappbrowser="https://developer.android.com/studio/index.html?hl=es-419">
        <img src="img/V435ZES4WUNS8ziS9ecA_original.png">
        <h2>Java</h2>
        <p>Para desarrollo de apps en Android</p>
      </ion-item>
      <ion-item class="item-avatar" id="aplicacionesNativas-list-item27" href-inappbrowser="https://docs.microsoft.com/en-us/dotnet/csharp/csharp">
        <img src="img/QiPGLMpdTs6mDg3jAYCJ_c-logo-icon-18.png">
        <h2>C#</h2>
        <p>Desarrollo de apps en Windows Phone</p>
      </ion-item>
    </ion-list>
    <a ui-sref="formasDeHacerUnaApp()" id="aplicacionesNativas-button1" class="button button-positive button-icon icon ion-android-arrow-back">Volver</a>
  </ion-content>
</ion-view>