<ion-view title="Aplicaciones Híbridas" id="page6">
  <ion-content padding="true" style="background: url(img/PSXmsBXRT2Uk95D41WFn_programacao-em-c.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="aplicacionesHBridas-heading5" style="color:#FFFFFF;text-align:center;">Aplicaciones Híbridas</h1>
    <div id="aplicacionesHBridas-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FAFAFA;font-size:26px;">Las
        <strong>Aplicaciones Híbridas</strong> son las que se desarrollan con tecnologías webs que se ejecutan en contenedores nativos. </p>

      <p style="color:#FAFAFA;font-size:26px;">Son multiplataforma.</p>
    </div>
    <div>
      <a style="display:block;" ui-sref="frameworks()">
        <img src="img/1Uqi8jiOTQdFlXGUgZo0_HTMLCSSJS.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <a ui-sref="formasDeHacerUnaApp()" id="aplicacionesHBridas-button2" class="button button-light button-outline icon ion-android-arrow-back">Volver</a>
  </ion-content>
</ion-view>