<ion-view title="¡Desarollo de Aplicaciones Móviles!" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/FvJFHGNtT6Mk1Dc4JXdC_programacao-em-c.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="DesarolloDeAplicacionesMViles-heading3" style="color:#FFFFFF;text-align:center;">Desarrollo de Aplicaciones Móviles</h1>
    <div>
      <a style="display:block;" ui-sref="QueEsUnaApp()">
        <img src="img/eCx5HB2T0GscXPuF18nQ_LogoREDantena.png" style="display:block;width:100%;height:auto;">
      </a>
    </div>
  </ion-content>
</ion-view>