<ion-view title="Formas de hacer una app" hide-back-button="true" id="page4">
  <ion-content padding="true" style="background: url(img/Fw8DNlRTRxyTYR05ofSh_programacao-em-c.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="formasDeHacerUnaApp-list4">
      <ion-item class="item-thumbnail-left" id="formasDeHacerUnaApp-list-item16" ui-sref="aplicacionesNativas()">
        <img src="img/iMNn9NQPQceLs2cphxNs_fastclaimshandling.jpg">
        <h2>Aplicaciones Nativas</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="formasDeHacerUnaApp-list-item17" ui-sref="aplicacionesHBridas()">
        <img src="img/Zv152CMaToqtoYSBHeRy_hibrida.png">
        <h2>Aplicaciones Híbridas</h2>
      </ion-item>
    </ion-list>
    <a ui-sref="QueEsElDesarrolloDeApps()" id="formasDeHacerUnaApp-button3" class="button button-light button-clear icon ion-android-arrow-back">Volver</a>
  </ion-content>
</ion-view>