<ion-view title="Frameworks" id="page7">
  <ion-content padding="true" style="background: url(img/ruoUlnECQlmMb9f4DAYd_programacao-em-c.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="frameworks-heading7" style="color:#FFFFFF;text-align:center;">Frameworks</h1>
    <div id="frameworks-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#F7F7F7;font-size:26px;">Los
        <strong>Frameworks</strong> son fundamentales en el momento del desarrollo no nativo o híbrido de aplicaciones móviles.</p>

      <p style="color:#F7F7F7;font-size:26px;">Hacen que los desarrolladores ahorren tiempo en codificar.</p>
    </div>
    <ion-list id="frameworks-list7">
      <ion-item class="item-thumbnail-left" id="frameworks-list-item29" href-inappbrowser="https://ionicframework.com/">
        <img src="img/NVS5fXRTTUCL5adUCFYF_ionic1.png">
        <h2>Ionic Framework</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="frameworks-list-item28" href-inappbrowser="https://phonegap.com/">
        <img src="img/ETs6kS38Q6OTnTTHk2r8_PhoneGap-Symbol-Black.png">
        <h2>PhoneGap Framework</h2>
      </ion-item>
    </ion-list>
    <a ui-sref="MuchasGracias()" id="frameworks-button4" class="button button-positive button-block icon ion-android-arrow-forward"></a>
  </ion-content>
</ion-view>