<ion-view title="¡Muchas Gracias!" id="page8">
  <ion-content padding="true" style="background: url(img/Jp1nOSQIThXaWYxxB7qK_programacao-em-c.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="MuchasGracias-heading9" style="color:#FFFFFF;text-align:center;">¡Muchas Gracias!</h1>
    <div id="MuchasGracias-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:25px;">Espero que esta ponencia haya sido atractiva e interesante para todos, anímense al mundo del desarrollo, van a poder materializar todas sus ideas! </p>
    </div>
    <div class="list card" id="MuchasGracias-card21">
      <ion-item class="item-avatar" id="MuchasGracias-list-item32">
        <img src="img/JLtDPKhjSqiceeaORV9l_banner.jpg">
        <h2>Carlos Amador</h2>
        <p>Desarrollador</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/u5pFniNRJiXh88Limo2r_DSC_0206.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div style="margin-right:-20px;">
        <a href-inappbrowser="https://www.facebook.com/carlos.amador.450" id="MuchasGracias-button5" style="left:-10px;" class="button button-positive button-full icon ion-social-facebook"></a>
      </div>
      <a href-inappbrowser="https://twitter.com/450Amador" id="MuchasGracias-button6" class="button button-calm button-block icon ion-social-twitter"></a>
      <a href-inappbrowser="https://github.com/AmadorCarlos" id="MuchasGracias-button7" class="button button-dark button-block icon ion-social-github"></a>
    </div>
  </ion-content>
</ion-view>