<ion-view title="¿Que es una app?" nav-transition="none" id="page2">
  <ion-content padding="true" style="background: url(img/xZXWmuP9RrimalMV25Qc_programacao-em-c.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="QueEsUnaApp-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:25px;">Una aplicación móvil, es un software que se instala en los smartphones teniendo uno o varios objetivos que cumplir para mejorar las tareas cotidianas de todos nosotros.</p>
    </div>
    <div>
      <a style="display:block;" ui-sref="QueEsElDesarrolloDeApps()">
        <img src="img/fi9iQUzcTiJ0L90kSe5g_desarrollo-de-aplicaciones-moviles-ios-android.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>